<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Your Scraper News Network</a>
        <ul class="right" id="nav-mobile">
             
            <li><a href="/scrape"><strong>SCRAPE</strong></a></li>
            <li><a href="/clearall">CLEAR ALL ARTICLES</a></li>
            <li><a href="https://github.com/LisaSmithen/scrapepart2" target="_blank">Take A Look At My Repo</a></li>
        </ul>
    </div>
</nav>